// Main vars
$animation-time = .3s

// Font vars
$quicksand = 'Quicksand', sans-serif
$openSans = 'Open Sans', sans-serif

// Color vars
$white = #fff
$black = #000
$green = #4CAF50
$gray = #777
$light-gray = #ccc
$white-transparent = rgba(255, 255, 255, .75)


// Loader vars
$loader-size = 40px
$loader-color = $green
$loader-time = 3.2s
$loader-delay = 0s

// Loader items vars
$item-size = 10px
$item-rotation = 0deg