.footer
  position absolute
  bottom 0
  width 100%
  height 56px
  background #f8f8f8
  border-top 1px solid $green

  > .navbar
    margin 0
    border none

    .navbar-nav
      > li
        > a
          padding-top 0
          padding-bottom 0
          line-height 55px
          color $green

        &.active
          > a
            color $green

            &:focus
            &:hover
              color $green

        .dropdown-menu
          border-radius 4px

  .text-muted
    margin 0
    line-height 55px
    color $green