.welcome
  display flex
  align-items center
  height 100vh
  min-height 1px

  @media (max-width 767px)
    min-height 100vh
    height auto

    @media (min-width 560px)
      padding-bottom 170px


  .carousel-inner
    .item img
      @media (max-width 1024px)
        min-height 100%
        min-width 100%
        max-width 9999999px

  .black-logo
    width 100%

  &:before
  .carousel-inner
    absolute top left right bottom

  &:before
    content ''
    z-index 10
    background $black
    opacity .8

  .welcome-logo
    margin auto
    z-index 15

    .navbar-brand
      float none
      margin -150px auto 0
      max-width 350px


      @media (min-width 560px) and (max-width 767px)
        margin-top  -90px

      @media (max-width 559px)
        margin-top -160px
        max-width 220px

    h2
      margin 0 auto
      max-width 80%
      font-size 35px
      font-weight 300
      text-align center
      color #cacaca

      @media (max-width 767px) {
        font-size 25px
      }

  img
    min-width 100%
    min-height 100%

  .scroll-down
    overflow hidden
    absolute left 50% bottom 40px
    width 82px
    height 46px
    margin-left -41px
    z-index 15

    @media (max-width 559px)
      bottom 75px

    svg
      margin-top -192px
      margin-left -429px

  .before-animate-1-1
  .before-animate-1-2
    stroke-dasharray 35px 35px

  .before-animate-1-1
    stroke-dashoffset -35px
    animation arrow-scroll-1 2s infinite 0.2s ease-in

  .before-animate-1-2
    stroke-dashoffset 35px
    animation arrow-scroll-2 2s infinite 0.2s ease-in

  .before-animate-2-1
  .before-animate-2-2
    stroke-dasharray 50px 50px

  .before-animate-2-1
    stroke-dashoffset -50px
    animation arrow-scroll-3 2s infinite ease-in

  .before-animate-2-2
    stroke-dashoffset 50px
    animation arrow-scroll-4 2s infinite ease-in

@keyframes arrow-scroll-1
  20%, 40%, 60%, 80%
    stroke-dashoffset 0
  100%
    stroke-dashoffset 35px

@keyframes arrow-scroll-2
  20%, 40%, 60%, 80%
    stroke-dashoffset 0
  100%
    stroke-dashoffset -35px

@keyframes arrow-scroll-3
  20%, 40%, 60%, 80%
    stroke-dashoffset 0
  100%
    stroke-dashoffset: 50px

@keyframes arrow-scroll-4
  20%, 40%, 60%, 80%
    stroke-dashoffset 0
  100%
    stroke-dashoffset: -50px